---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="situation">
      <h1 id="situation__presentation" class="situation__presentation">
        Se le dara una serie de casos para descubrir al posible culpable que
        apareceran debajo, si es correcto pasara al siguiente
      </h1>
      <a
        id="situation__suspicious1"
        class="situation__suspect situation__suspect--1">Posible Culpable 1</a
      >
      <br />
      <a
        id="situation__suspicious2"
        class="situation__suspect situation__suspect--2">Posible Culpable 2</a
      >
      <br />
      <a
        id="situation__suspicious3"
        class="situation__suspect situation__suspect--3">Posible Culpable 3</a
      >
      <br />
      <button id="nextButton" class="situation__button situation__button--next"
        >Siguiente</button
      >
      <!---------------------------------------------------------------------------------------------------- -->
      <div class="Character">
        <img
          class="Character_shadow pixelart"
          src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/21542/DemoRpgCharacterShadow.png"
          alt="Shadow"
        />

        <img
          class="Character_spritesheet pixelart face-down"
          src="/images/whiteC.png"
          alt="Character"
        />
      </div>
      <!---------------------------------------------------------------------------------------------------- -->
    </section>
    <audio autoplay loop >
      <source src="/music/audio8Bits.mp3" />
    </audio>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

  /* Reset */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    background-image: url(/images/background/background_train_api.png);
    min-height: 100svh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Press Start 2P", cursive;
    font-size: 1.5rem;

    display: grid;
    min-height: 100vh !important;
    grid-template-rows: auto 1fr auto;
  }

  :root {
    --pixel-size: 6;
  }

  .Character {
    width: calc(30px * var(--pixel-size));
    height: calc(45px * var(--pixel-size));
    overflow: hidden;
    position: relative;
    margin: 0em auto;
  }

  .Character_spritesheet {
    animation: moveSpritesheet 1s steps(4) infinite;
    width: calc(128px * var(--pixel-size));
    position: absolute;
  }
  .Character_shadow {
    position: absolute;
    width: calc(32px * var(--pixel-size));
    height: calc(32px * var(--pixel-size));
  }

  .pixelart {
    image-rendering: pixelated;
  }

  .face-right {
    top: calc(-32px * var(--pixel-size));
  }
  .face-up {
    top: calc(-64px * var(--pixel-size));
  }
  .face-left {
    top: calc(-96px * var(--pixel-size));
  }

  @keyframes moveSpritesheet {
    from {
      transform: translate3d(0px, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
  }

  /* Block */
  .situation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  /* Elements */
  .situation__presentation {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: oklch(0.7794 0.1332 232.94);
    border: 2px solid oklch(0.1147 0.0197 194);
    line-height: 1.5rem;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0.1147 0.0197 194);
    font-size: 18px;
    border-width: 1px;
    display: block;
    word-wrap: break-word;
  }

  .situation__suspect,
  .situation__button {
    background-color: oklch(0.5118 0.1875 257.29);
    color: oklch(0.85 0.0321 257.29);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.8s ease;
  }

  /* modifiers (hover and others) */
  .situation__suspect:hover,
  .situation__button--next:hover {
    color: oklch(0.8618 0.0173 194);
    transform: scale(1.05);
    box-shadow: 0 4px 8px oklch(0.1147 0.0197 194);
  }

  /* breakpoint tablet */
  @media (min-width: 481px) {
    :root {
      --pixel-size: 4;
    }
    .situation {
      display: grid;
      grid-template-areas:
        "title  title"
        "suspect1 suspect2"
        "suspect3 next";
      gap: 1rem;
      padding: 1rem;
    }

    #situation__presentation {
      grid-area: title;
    }
    #situation__suspicious1 {
      grid-area: suspect1;
    }
    #situation__suspicious2 {
      grid-area: suspect2;
    }
    #situation__suspicious3 {
      grid-area: suspect3;
    }
    #nextButton {
      grid-area: next;
      paddint-top: 5px;
      align-self: center;
      justify-self: center;
    }

    .situation__presentation {
      font-size: 0.9rem;
      line-height: 1.6;
      padding: 1.2rem;
    }

    .Character {
      margin: 0rem auto;
    }
  }

  /* breakpoint desktop */
  @media (min-width: 770px) {
    :root {
      --pixel-size: 6; 
    }

    .situation {
      grid-template-areas:
        "title title title"
        "suspect1 suspect2 suspect3"
        ". next .";
      max-width: 900px;
      margin: 2rem auto;
    }

    .situation__suspect:hover {
      transform: translateY(-3px) scale(1.02);
      box-shadow: 0 6px 12px oklch(0.2221 0.0296 232.94);
    }

    body {
      background-position: center 30%;
      background-size: cover;
    }

    .Character {
      position: fixed;
      right: 5%;
      bottom: 5%;
      z-index: 10;
    }
  }
</style>

<script>
  async function loadCases(numberId: number) {
    try {
      const response = await fetch("/api/cases.json");
      const data = await response.json();

      // 2... Update the console
      document.getElementById("situation__presentation")!.textContent =
        data[numberId].title;
      document.getElementById("situation__suspicious1")!.textContent =
        data[numberId].suspicious1;
      document.getElementById("situation__suspicious2")!.textContent =
        data[numberId].suspicious2;
      document.getElementById("situation__suspicious3")!.textContent =
        data[numberId].suspicious3;

      let currentAnswerListener: ((event: MouseEvent) => void) | null = null; // i'm free, with that i won't see the red underlined
      // 7... delete previous listeners
      if (currentAnswerListener) {
        document.querySelector(".situation");
        document.removeEventListener("click", currentAnswerListener);
      }

      //3... Create a new listener

      currentAnswerListener = handleAnswerClick(data, numberId);
      document.querySelector(".situation");
      document.addEventListener("click", currentAnswerListener);
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("situation__presentation")!.textContent = "Error";
    }
  }

  function handleAnswerClick(data: any, numberId: number) {
    return function (event: Event) {
      //MouseEvent
      const target = event.target as HTMLElement; //Finally with this I won't see the red thing
      if (
        target.matches(
          "#situation__suspicious1, #situation__suspicious2, #situation__suspicious3"
        )
      ) {
        if (target!.textContent === data[numberId].correct) {
          document.querySelector(".situation");
          document.removeEventListener("click", currentAnswerListener!);
          //5... Cargar nuevo caso
          loadCases(getRandomId(1, 21));
        }
      }
    };
  }

  function getRandomId(min: number, max: number) {
    return Math.floor(Math.random() * (max - min) + min); //mathFloor round the number
  }

  //1....load the first case
  const $buttonNext = document.querySelector(".situation__button--next");
  $buttonNext!.addEventListener("click", () => {
    loadCases(getRandomId(1, 21));
  });

  let currentAnswerListener: null;
  // loadCases(getRandomId(1, 21)); //commit that for avoid load the JSON in the beginning
</script>
