---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="situation">
      <h1 id="situation__presentation" class="situation__presentation">
        Se le dara una serie de casos para descubrir al posible culpable que
        apareceran debajo, si es correcto pasara al siguiente
      </h1>
      <a
        id="situation__suspicious1"
        class="situation__suspect situation__suspect--1">Posible Culpable 1</a
      >
      <br />
      <a
        id="situation__suspicious2"
        class="situation__suspect situation__suspect--2">Posible Culpable 2</a
      >
      <br />
      <a
        id="situation__suspicious3"
        class="situation__suspect situation__suspect--3">Posible Culpable 3</a
      >
      <br />
      <button id="nextButton" class="situation__button situation__button--next"
        >Siguiente</button
      >
    </section>
    <audio autoplay loop>
      <source src="../public/music/audio8Bits.mp3" />
    </audio>
  </main>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

  /* Reset */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    background-image: url(/images/Pixel_Train.png);
    min-height: 100svh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Press Start 2P", cursive;
    font-size: 1.5rem;
  }

  /* Block */
  .situation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  /* Elements */
  .situation__presentation {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: oklch(0.7794 0.1332 232.94);
    border: 2px solid oklch(0.1147 0.0197 194);
    line-height: 1.5rem;
    padding: 8px 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px oklch(0.1147 0.0197 194);
    font-size: 18px;
    border-width: 1px;
    display: block;
    word-wrap: break-word;
  }

  .situation__suspect,
  .situation__button {
    background-color: oklch(0.5118 0.1875 257.29);
    color: oklch(0.85 0.0321 257.29);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transform: scale(1);
    transition: transform 0.8s ease;
  }

  /* modifiers (hover and others) */
  .situation__suspect:hover,
  .situation__button--next:hover {
    color: oklch(0.8618 0.0173 194);
    transform: scale(1.05);
    box-shadow: 0 4px 8px oklch(0.1147 0.0197 194);
  }
</style>

<script>
  async function loadCases(x: number) {
    try {
      const response = await fetch("/api/cases.json");
      const data = await response.json();

      // 2... Update the console
      document.getElementById("situation__presentation")!.textContent =
        data[x].title;
      document.getElementById("situation__suspicious1")!.textContent =
        data[x].suspicious1;
      document.getElementById("situation__suspicious2")!.textContent =
        data[x].suspicious2;
      document.getElementById("situation__suspicious3")!.textContent =
        data[x].suspicious3;

      // 7... delete previous listeners
      if (currentAnswerListener) {
        document.querySelector(".situation");
        document.removeEventListener("click", currentAnswerListener);
      }

      //3... Create a new listener
      currentAnswerListener = handleAnswerClick(data, x);
      document.querySelector(".situation");
      document.addEventListener("click", currentAnswerListener);
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("situation__presentation")!.textContent = "Error";
    }
  }

  function handleAnswerClick(data: any, x: number) {
    return function (event: MouseEvent) {
      if (
        event.target!.matches(
          "#situation__suspicious1, #situation__suspicious2, #situation__suspicious3"
        )
      ) {
        if (event.target!.textContent === data[x].correct) {
          document.querySelector(".situation");
          document.removeEventListener("click", currentAnswerListener!);
          //5... Cargar nuevo caso
          loadCases(getRandomId(1, 21));
        }
      }
    };
  }

  function getRandomId(min: number, max: number) {
    return Math.floor(Math.random() * (max - min) + min); //mathFloor round the number
  }

  const $buttonNext = document.querySelector(".situation__button--next");
  $buttonNext!.addEventListener("click", () => {
    loadCases(getRandomId(1, 21));
  });

  //1....load the first case (comentario original)
  let currentAnswerListener = null;
  // loadCases(getRandomId(1, 21)); //commit that for avoid load the JSON in the beginning
</script>
