!---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	<body>
		<section class="situation">
			<h1>aca entra el texto</h1>
			<button class="next">Siguiente</button>
		</section>
		
	</body>
</html>

<style>
	*{
		box-sizing:border-box;
		padding: 0;
		margin:0;
	}
	body{
		background-image: url(/images/Pixel_Train.png);
		min-height: 100svh;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment:fixed;
	}

	.situation{
		padding-top: 5rem;
		text-align: center;
		margin-bottom: 10px;
	}

	.next{
		background-color: oklch(0.5118 0.1875 257.29);
        color: oklch(0.85 0.0321 257.29);
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
	}

	.next:hover{
  		color: white;
	}

</style>

<script>
	//i need a fetch here jisus christ

</script>