<div class="popup-container left-align" id="popup">
  <div class="popup__card">
    <button type="button" class="popup__exit">×</button>
      <div class="popup__title">Contáctanos</div>
        <form class="popup__form" id="contactForm">
          <input class="popup__input" name="name" id="nameInput" placeholder="Nombre Completo"  />
          <input class="popup__input" name="email" placeholder="Email" id="emailInput"  />
          <textarea class="popup__input" name="mensaje" id="messageInput" placeholder="Mensaje..."></textarea>
          <button class="popup__button" type="submit" >Enviar</button>
        </form>
          <div style="min-height: 24px; text-align: center;">
            <span class="popup__error-message" id="error"></span>
          </div>
      </div>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,800&display=swap');

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: oklch(0 0 0 / 60%);
    display: none; /*Hidden by default */
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
  }

  .popup-container.active {
    display: flex;
  }

  .popup-container.left-align {
    justify-content: flex-start;
  }

  .popup__card {
    background-color: oklch(0.9456 0.013 185.09 / 68.58%);
    padding: 20px 12px;
    border-radius: 16px;
    border: 2px solid oklch(0.3211 0 0);
    box-shadow: 4px 4px oklch(0 0 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
  }

  .popup__title {
    font-family: 'Roboto Serif', serif;
     font-size: 18px;
    font-weight: bold;
    color: oklch(0 0 0);
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 10px;
  }

  .popup__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .popup__input {
    width: 90%;
    margin: 0 auto;
    padding: 8px;
    font-size: 17px;
    border-radius: 6px;
    border: 2px solid oklch(0.3211 0 0);
    box-shadow: 3px 3px oklch(0.3211 0 0);
    resize: none;
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
  }

  .popup__button {
    width: 100%;
    padding: 8px 10px;
    background-color: oklch(1 0 0);
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid oklch(0.3211 0 0);
    box-shadow: 3px 3px oklch(0.3211 0 0);
    cursor: pointer;
    transition: transform 0.1s;
    font-family: 'Roboto Serif', serif;
    margin-top: 20px;
    font-size: 14px;
  }

  .popup__button:active {
    transform: translate(2px, 2px);
    box-shadow: 0 0 oklch(0.3211 0 0);
  }

  .popup__error-message {
    color: oklch(0.3093 0.0524 210.79);
    font-size: 7px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: inline-block;
  }

  .popup__error-message.shake {
    animation: shake 0.4s ease;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
 }

  .popup__exit {
      background: none;
      border: none;
      font-size: 40px;
      cursor: pointer;
      color: oklch(0 0 0);
      margin-left: auto;
  }

  .popup__exit:hover {
    color: rgb(2, 55, 63);
  }
  
  @media (min-width: 400px) {
  .popup__card {
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 6px 6px oklch(0 0 0);
  }

  .popup__input {
    font-size: 17px;
    padding: 12px;
  }

  .popup__button {
    font-size: 18px;
    padding: 12px;
  }

  .popup__title {
    font-size: 20px;
  }
}
</style>

<script is:inline>
  document.getElementById('contactForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const email = document.getElementById('emailInput').value.trim();
    const name = document.getElementById('nameInput').value.trim();
    const message = document.getElementById('messageInput').value.trim();
    const errorElement = document.getElementById('error');

    const emailRegex = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;

    let errorMsg = ''; 

    if (!email) {
      errorMsg = '* El email es obligatorio.';
    } else if (!emailRegex.test(email)) {
      errorMsg = '* Por favor, introduzca un email válido.';
    } else if (!name) {
      errorMsg = '* Debe ingresar su nombre.';
    } else if (name.trim().split(' ').length < 2) {
      errorMsg = '* Ingrese su nombre completo.';
    } else if (!message) {
      errorMsg = '* Debe ingresar su mensaje.';
    }


    if (errorMsg) {
      errorElement.textContent = errorMsg;

      errorElement.classList.remove('shake'); 
      void errorElement.offsetWidth;           
      errorElement.classList.add('shake');

      return;
    }

    errorElement.textContent = ''; 
    this.submit(); 
  });

  document.querySelector('#popup .popup__exit').addEventListener('click', function() {
  document.getElementById('popup').classList.remove('active');
});

</script>
