<footer class="footer">
    <div class="footer__container">
      <p class="footer__copyright">
        &copy; 2025 The Mystery of the Blue Lady
      </p>
    </div>
</footer>

<style>
.footer{
    background-color: #0a4f5f;
    color: #fff;
    padding: 0.5rem 1rem;       
}

.footer__container {
  margin: 0 auto;
  text-align: center;
}

.footer__copyright {
  font-size: 0.5rem;
  line-height: 1.5;
}
</style>
  