<nav class="nav">
  <button class="nav__toggle" onclick="document.querySelector('.nav__list').classList.toggle('open')">☰</button>
  <ul class="nav__list">
    <li><a href="/">🏠 Inicio</a></li>
    <li><a href="/characters_story">🖼️ Personajes</a></li>
    <li><a href="/API_js">🛠️ API idea</a></li>
    <li><a href="/about_us">📜 About Us</a></li>
  </ul>
</nav>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

  * {
    box-sizing: border-box;
  }

  .nav {
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
  }

  .nav__toggle {
    background: none;
    border: 2px solid oklch(0 0 0);
    color: oklch(0 0 0);
    font-size: 1.5rem;
    padding: 2px 2px;
    cursor: pointer;
    display: left;
    margin: 0 auto 10px auto;
  }

  .nav__list {
    list-style: none;
    display: none; /* oculto por defecto en mobile */
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .nav__list.open {
    display: flex; /* mostrar en mobile */
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    padding: 0;
  }

  .nav__list a {
    color: oklch(1 0 0);
    background-color: oklch(0.3867 0 0);
    padding: 2px 4px;
    border: 3px solid oklch(0 0 0);
    text-decoration: none;
    display: inline-block;
  }

  .nav__list a:hover {
    background-color: oklch(1 0 0 / 63%);
    color: oklch(0 0 0);
    transform: translateY(-2px);
  }

  .nav__list a:active {
    transform: translateY(3px);
  }

  @media (min-width: 770px) and (max-width: 1220px) {
    .nav__toggle {
      display: none;
    }

    .nav__list {
      display: flex; /* mostrar en desktop */
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 15px;
      margin: 0 auto;
      padding: 0;
    }

    }

  @media (min-width: 1221px) {
    .nav__toggle {
      display: none;
    }

    .nav__list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; 
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }

    .nav__list a {
      font-size: 20px;
      padding: 7px 24px;
      border-width: 4px;
    }
  }
</style>
